@font-face {
  font-family: '主';
  src: url('../font/主.ttf');
}
@font-face {
  font-family: '正';
  src: url('../font/正.ttf');
}
@font-face {
  font-family: '宋';
  src: url('../font/宋.ttf');
}
* {
  margin: 0;
  padding: 0;
  font-family: '宋';
}
body {
  font-size: 16px;
  width: 500px;
  transform-origin: 0 0;
}
.container {
  padding: 20px 10px 0px 10px;
  background-image: url('./imgs/bg.jpg');
  background-size: 500px;
}
.xkl_box {
  width: 460px;
  /*height: 500px;*/
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  /* box-shadow: 0 15px 25px 0 rgb(0 0 0 / 25%); */
  box-shadow:
    2px 2px 4px 0 rgba(51, 51, 52, 0.5),
    inset 3px 3px 10px 0px rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.xkl_box .l_box {
  margin-top: 10px;
  font-family: '宋';
  color: #73bdeb;
  background-color: #d9f3f1;
  width: 460px;
  text-shadow: 0.5px 0.5px 1px #bdbcbc;
  padding-top: 30px;
  border-radius: 25px;
  box-shadow: 0 15px 25px 0 rgb(0 0 0 / 25%);
  position: relative;
}

.tab_lable {
  position: absolute;
  top: -15px;
  left: -8px;
  width: 150px;
  height: 45px;
  background: #fff;
  background: url('./imgs/t.png');
  background-repeat: no-repeat;
  background-size: 120px 40px;
  /*color: #bdd6ff;*/
  color: #ea7aab;
  font-size: 14px;
  font-family: '宋';
  padding-top: 13px;
  padding-left: 45px;
  /*border-radius: 15px 15px 15px 15px;*/
  font-weight: bold;
  /*z-index: 20;*/
}

.xkl_box .l_box .time_box {
  position: relative;
  font-size: 14px;
  font-family: '宋';
  font-weight: bold;
  /*border: 10px solid transparent;*/
  background: url('./imgs/h.png');
  background-repeat: no-repeat;
  background-size: 300px 30px;
  padding-top: 6px;
  padding-left: 23px;
  width: 300px;
  height: 30px;
  margin: bottom 0px;
}

.xkl_box .l_box .n_box {
  position: relative;
  width: 460px;
  height: 150px;
  background: url('./imgs/n.png');
  background-repeat: no-repeat;
  background-size: 460px 150px;
}

.n_box .tu {
  position: absolute;
  right: 0px;
  height: 70px;
  top: -70px;
}

.n_box .js_box {
  position: relative;
  top: 20px;
  left: 5px;
  height: 50px;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
}

.five {
  position: relative;
  height: 45px;
  width: 40px;
  margin-right: 10px;
  background: #ffe699;
  box-shadow: 0 8px 10px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.four {
  position: relative;
  height: 45px;
  width: 40px;
  margin-right: 10px;
  background: #d699ff;
  box-shadow: 0 8px 10px 0 rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.n_box .js_box .face {
  height: 45px;
  width: 40px;
  border-radius: 5px;
  position: relative;
}

.n_box .gz_box {
  position: relative;
  top: 30px;
  left: 5px;
  height: 50px;
  padding-top: 12px;
  padding-left: 5px;
  display: flex;
}
.n_box .gz_box .face {
  height: 48px;
  width: 40px;
  border-radius: 5px;
  position: relative;
}

.gz_box .five {
  height: 46px;
  width: 40px;
}

.gz_box .four {
  height: 46px;
  width: 40px;
}

.logo {
  font-size: 12px;
  font-family: '宋';
  text-align: center;
  text-shadow: 0.5px 0.5px 1px #999;
  color: #e6796d;
}
